.btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 16px;
	color: #fff;
	background: #FF6D00;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #D64D08;
	border-radius: 5px;
	font-size: 1rem;
	line-height: 1.25;
	cursor: pointer;
	&:hover {
		background: #FF8124;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #F7661D;
	}
}